@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "IranYekanX";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/medium/IranYekanX_medium.woff2");
  }
}
@font-face {
  font-family: "YekanBakhFaNum";
  src: url("./assets/fonts/YekanBakhFaNum-Regular.woff");
}
@font-face {
  font-family: "IranYekanXRegular";
  src: url("./assets/fonts/regular/IranYekanX_regular.woff");
}
body {
  margin: 0;
  font-family: "IranYekanXRegular", "IRANSans", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}
.IranYekanX {
  font-family: "IranYekanXRegular";
}
.YekanBakhFaNum {
  font-family: "YekanBakhFaNum" !important;
}
span.YekanBakhFaNum {
  font-family: "YekanBakhFaNum" !important;
}
* {
  font-family: "IranYekanXRegular", "IRANSans";
  direction: rtl;
}
:root {
  background-color: white;
}
@layer utilities {
  .check-list-bullet {
    direction: rtl;
    @apply list-none pr-8;
    list-style-type: none;
    background-image: url("./assets/icons/circle-check.svg");
    background-size: 24px 24px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
  .call-list-bullet {
    direction: rtl;
    @apply list-none pr-8;
    list-style-type: none;
    background-image: url("./assets/icons/phone-call.svg");
    background-size: 24px 24px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
  .message-list-bullet {
    direction: rtl;
    @apply list-none pr-8;
    list-style-type: none;
    background-image: url("./assets/icons/message-circle-more.svg");
    background-size: 24px 24px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
}
